html {
  font-size: 1em;
}
body {
  font-size: 1em;
  line-height: 1.5;
  font-family: Verdana, Arial, "Times New Roman", "SimSun", "宋体", "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑";
  background: rgb(175,228,255);
  background: -moz-linear-gradient(94deg, rgba(175,228,255,1) 25%, rgba(233,249,255,1) 67%);
  background: -webkit-linear-gradient(94deg, rgba(175,228,255,1) 25%, rgba(233,249,255,1) 67%);
  background: linear-gradient(94deg, rgba(175,228,255,1) 25%, rgba(233,249,255,1) 67%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#afe4ff",endColorstr="#e9f9ff",GradientType=1);
}
nav#nav-menu {
    background-color: #1585b7;
}
nav#nav-menu li {
  padding-left: 0;
  padding-right: 0;
}
.block-title {
    background: rgb(140,216,255);
    background: -moz-linear-gradient(90deg, rgba(140,216,255,1) 0%, rgba(187,242,255,1) 75%);
    background: -webkit-linear-gradient(90deg, rgba(140,216,255,1) 0%, rgba(187,242,255,1) 75%);
    background: linear-gradient(90deg, rgba(140,216,255,1) 0%, rgba(187,242,255,1) 75%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8cd8ff",endColorstr="#bbf2ff",GradientType=1);
    font-size: 1.4em;
    padding: 0.3em 0;
}
li.list-group-item {
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: .75em 1.25em;
}
.lanmu-page li.list-group-item>a {
    max-width: 80%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}
.news-block{
    background-color: #fff;
}
.news-block li.list-group-item {
    border: 0;
}
.border-top-red {
	border-top: .4em solid #dc3545!important;
}
.link-more {
	font-size: .7em;
}
div.col,
div.col-md-2,
div.col-md-3,
div.col-auto,
img.col,
figure.col{
  padding-left: 3px;
  padding-right: 3px;
}
.row {
  margin-left: -3px;
  margin-right: -3px;
}
#nav-menu {
    background: rgb(24,147,212);
    background: -moz-linear-gradient(180deg, rgba(24,147,212,1) 0%, rgba(21,105,157,1) 50%, rgba(24,147,212,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(24,147,212,1) 0%, rgba(21,105,157,1) 50%, rgba(24,147,212,1) 100%);
    background: linear-gradient(180deg, rgba(24,147,212,1) 0%, rgba(21,105,157,1) 50%, rgba(24,147,212,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1893d4",endColorstr="#1893d4",GradientType=1);
}
#nav-menu .nav-item:hover{
    background: rgb(86,187,241);
    background: -moz-linear-gradient(180deg, rgba(86,187,241,1) 0%, rgba(24,147,212,1) 50%, rgba(86,187,241,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(86,187,241,1) 0%, rgba(24,147,212,1) 50%, rgba(86,187,241,1) 100%);
    background: linear-gradient(180deg, rgba(86,187,241,1) 0%, rgba(24,147,212,1) 50%, rgba(86,187,241,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#56bbf1",endColorstr="#56bbf1",GradientType=1);
}
a.text-light:hover {
	color: white !important;
}
.title-text-bg {
    background: rgb(24,147,212);
    background: -moz-linear-gradient(180deg, rgba(24,147,212,1) 0%, rgba(21,105,157,1) 35%, rgba(171,227,255,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(24,147,212,1) 0%, rgba(21,105,157,1) 35%, rgba(171,227,255,1) 100%);
    background: linear-gradient(180deg, rgba(24,147,212,1) 0%, rgba(21,105,157,1) 35%, rgba(171,227,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1893d4",endColorstr="#abe3ff",GradientType=1);
}
.nav-link {
	font-size: 1.2em;
}
.list-group-item-action:hover {
	background-color: #dff9ff;
}
li.list-group-item a:hover {
	text-decoration: none;
}
.news-list a {
	font-size: 1.2em;
	color: #343a40!important;
}
.news-list>span {
    float: right;
}
.news-list>span,
.news-list>span>a {
    color: #6c757d!important;
}
.news-list a:hover {
	color: #121416!important;
}
.home-lanmu-block li {
    display: flex;
    align-items: center;
}
.home-lanmu-block li:before {
	content: "●";
	margin-right: 8px;
	color: #aaaaaa;
    font-size: 10px;
}
#xinwenzhongxin li:before {
    content: "■";
}
li a,
li a:hover {
	color: #343a40;
}
#dangjian li a:hover {
	color: #121416!important;
}
#dangjian li .date {
    float: right;
}
.arrow-right {
	width: 0; 
	height: 0; 
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 6px solid #003f80;
}
li.news-list>a:before {
	content: "";
	width: 0; 
	height: 0; 
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 6px solid #003f80;
	display: inline-block;
	margin-right: .6em;
}
.SimSun {
  font-family: SimSun, "宋体";
}
.btn-primary {
	background-color: #559ce8;
	border-color: #559ce8;
}
.btn-primary:hover {
	background-color: #388ae0;
	border-color: #388ae0;
}
.article-content p{
  font-size: 1.3em;
  margin-bottom: 0;
  line-height: 2em
}
#search-bar .form-control-sm {
	width: 294px;
}
.border-secondary {
  border-color: #dee2e6 !important;
}
ul.no-padding-bottom {
  padding-bottom: 0 !important;
}
ul.no-padding-top {
  padding-top: 0 !important;
}
.bookmark-menu a{
  margin-left: 8px;
  font-size: 12px;
  border: none !important;
  padding: 0 !important;
}
.bookmark-menu>ul{
    display: inline-block;
    border: none !important;
}
img {
	max-width: 100%;
}
#block-bs3-tiaofu p {
	margin-bottom: .25em!important;
}
.slick1 figcaption {
    bottom: 0;
    /*
    background-color: #4ec6ff;
    */
    height: 3em;
    color: #f8f9fa;
    font-weight: 700;
}
.swiper-pagination.swiper-pagination-bullets {
    height: 3em;
    bottom: 0;
}
#home .views-element-container li a {
	display: inline-block;
	vertical-align: bottom;
	max-width: 88%;
	overflow: hidden;
	text-overflow: ellipsis;
}
#block-views-block-shipinliebiao-block-1 li a {
    vertical-align: middle !important;
}
.col {
	overflow: hidden;
}
#region-fayuangaishu img,
#yewupingtai img {
    border-radius: .25em!important;
    max-width: 100%;
}
#yewupingtai img {
    margin-top: .25em;
}
#block-shouyeshipinqukuaixiafangtupian p,
#yewupingtai p{
    margin-bottom: 0;
}
#region-fayuangaishu h5,
#region-fayuangaishu p{
    text-align: center;
    color: #6c757d!important;
    margin-bottom: 0px;
}
#block-fayuangaishu p{
    text-align: justify;
    height: 194px;
    overflow: hidden;
    text-overflow: ellipsis;
}
#block-views-block-shipin-block-1 video {
    width: 100% !important;
    /*
    height: auto !important;
    */
}
#block-shouyeshipinqukuaixiafangtupian img {
    width: 100%;
    height: 136px;
}
#block-yewupingtaitupian img{
  width: 100%;
  height: 114px;
}
.slick2 figcaption {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: .3em 1em;
	color: #6c757d;
	font-size: .9em;
}
#block-views-block-shipin-block-1 li.list-group-item,
#block-views-block-shipinliebiao-block-1 li.list-group-item {
	padding: 0.75em .3em;
}
section#dangjian h2 {
	color: #dc3545;
    border-bottom: #dc3545 solid;
    padding-bottom: 10px;
}
section#dangjian h2:after {
	content: ">";
	padding-left: 10px;
}
section#dangjian a:hover {
	text-decoration: none;
}
.swiper-slide figure {
    margin-bottom: 0px;
}
header.dangjian,
.dangjian-more a{
    color: red;
}
header.dangjian svg {
  transform: scaleX(0.6);
}
.dangjian-more {
    font-size: .8em;
    float: right;
    /*
    background-color: #ffb0b0;
    */
}
.dangjian-block li {
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-pack: justify!important;
    justify-content: space-between!important;
}
.home-title-text {
    padding-top: 2.5px;
    padding-bottom: 2.5px;
}
.title-text-no-bg {
    color: #1F497d;
}
#node-preview-form-select {
    display: none;
}
.form-signin {
  width: 100%;
  max-width: 560px;
  padding: 15px;
  margin: auto;
}
#logo {
  font-size: 3.8em;
  color: #bf0000;
}
#user-login-form {
  margin: auto;
  width: 600px;
}
#user-login-form input {
  width: 100%;
}
#user-login-form div {
  margin-bottom: 5px;
}
#block-bs3-tiaofu img {
    width: 100%;
}
#fayuangaishu h3 {
    color: #4da6ff;
    margin: 1em 0;
    border-left: #4da6ff 5px solid;
    padding: 0 10px
}
#footer {
    font-size: .8em;
    text-align: center;
    color: #6c757d;
}
.links {
    font-size: .7em;
}
.yewupingtai1 {
    font-size: .9em;
    height: 2.9em;
}
.yewupingtai2 {
    font-size: .7em;
    height: 3em;
    width: 48%;
}
#user-login-form {
    padding: 3em;
    background-color: azure;
    border-radius: .5em;
    margin-top: 1em;
}
#edit-submit {
    background-color: #28a745;
    color: #fff;
}
.site-brand {
    display: inline-block;
}
.site-brand a:hover {
    text-decoration: none;
}
.site-brand a{
    float: left;
}
.site-brand img {
    width: 75px;
    float: left;
}
.site-brand h1{
    margin: 0;
    line-height: 80px;
}
.text-light {
    color: #f8f9fa!important;
}
.ml-1, .mx-1 {
  margin-left: .25em!important
}
.mr-1, .mx-1 {
  margin-right: .25em!important
}
.mt-1, .my-1 {
   margin-top: .25em!important
}
.mb-1, .my-1 {
   margin-bottom: .25em!important
}
.mt-2, .my-2 {
   margin-top: .5em!important
}
.mr-3, .mx-3 {
    margin-right: 1em!important;
}
.ml-3, .mx-3 {
    margin-left: 1em!important;
}
.mt-3, .my-3 {
    margin-top: 1em!important;
}
.mb-3, .my-3 {
    margin-bottom: 1em!important;
}
.mt-0, .my-0 {
   margin-top: 0!important
}
.mb-5, .my-5 {
    margin-bottom: 3em!important
}
.mt-5, .my-5 {
    margin-top: 3em!important
}
.mr-5, .mx-5 {
    margin-right: 3em!important;
}
.ml-5, .mx-5 {
    margin-left: 3em!important;
}
.mb-0, .my-0 {
   margin-bottom: 0!important
}
.ml-0, .mx-0 {
    margin-left: 0!important
}
.mr-0, .mx-0 {
    margin-right: 0!important
}
.m-3 {
    margin: 1em!important
}
.pl-0, .px-0 {
  padding-left: 0!important
}
.pr-0, .px-0 {
  padding-right: 0!important
}
.p-2 {
  padding: .5em!important
}
.p-3 {
  padding: 1em!important
}
.p-5 {
  padding: 3em!important
}
.pl-2, .px-2 {
  padding-left: .5em!important
}
.pr-2, .px-2 {
  padding-right: .5em!important
}
.pr-3, .px-3 {
    padding-right: 1em!important
}
.pb-3, .py-3 {
    padding-bottom: 1em!important;
}
.pt-3, .py-3 {
    padding-top: 1em!important;
}
.pt-0, .py-0 {
   padding-top: 0!important
}
.pb-0, .py-0 {
   padding-bottom: 0!important
}
.pt-1, .py-1 {
   padding-top: .25em!important
}
.pb-1, .py-1 {
   padding-bottom: .25em!important
}
.pb-2, .py-2 {
    padding-bottom: .5em!important
}
.pt-2, .py-2 {
    padding-top: .5em!important
}
.pt-4, .py-4 {
  padding-top: 1.5em!important
}
.pb-4, .py-4 {
  padding-bottom: 1.5em!important
}
#nav-menu{
    border-radius: 0;
    border: none;
}
#nav-menu>ul>li:first-child a {
  margin: 0 -15px;
}
.nav>li>a:focus, .nav>li>a:hover{
    background-color: transparent;
}
.d-none {
  display: none!important;
}
.overflow-hidden{
    overflow: hidden;
}
.border-0 {
  border: 0!important
}
.list-group {
  margin-bottom: 0;
}
.bg-white {
  background-color: #fff!important;
}
.row-cols-2>* {
  width: 50%;
  float: left;
  padding: 0 3px 4px;
}
.d-block {
  display: block!important;
}
.rounded,
.list-group {
  border-radius: .25em;
}
.bg-danger {
  background-color: #dc3545!important
}
#block-bs3-fayuangaishu {
  padding: 0 15px;
}
.font-weight-bold {
    font-weight: 700!important
}
header .col-md-4 {
    width: 128px;
}
.text-black-50,
#footer a.text-black-50:hover {
    color: #6c757d;
}
header .link-more {
    padding-right: 1em;
}
header svg {
    float: left;
}
.breadcrumb {
    padding: .75em 1em
}
.border-top {
    border-top: 1px solid #dee2e6!important
}
.pagination {
    margin: 0;
}
.page-link {
    padding: .5em .75em!important;
    border-radius: 0!important;
}
.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: .25rem!important;
    border-bottom-left-radius: .25rem!important;
}
#search #edit-help-link,
#search #edit-advanced,
#search>h2,
#search #search-form {
    display: none;
}
.card {
    border: 1px solid #f1f1f1;
    border-radius: .25rem;
}
.card-body {
    padding: 1.25em;
}
.h5, h5 {
    font-size: 1.25em;
}
.h4, h4 {
    font-size: 1.4em;
}
.card-title {
    margin-bottom: .75em;
}
a {
    color: #007bff;
}
a:hover {
    color: #0056b3;
}
.card-link:hover {
    text-decoration: none;
}
.border-bottom {
  border-bottom: 1px solid #dee2e6!important;
}
.text-secondary {
    color: #6c757d!important;
}
#block-bs3-local-tasks ul li a {
    padding: 0;
}
#block-bs3-local-tasks ul li {
    margin: 0;
}
#block-bs3-local-tasks {
    text-align: center;
}
#block-bs3-local-tasks ul{
    display: inline-block;
}
#block-bs3-local-tasks ul li:first-Child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 0;
}
#block-bs3-local-tasks ul li:last-Child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 0;
}
.list-group>.list-group-item+.list-group-item {
    border-left-width: 0;
}
.h2, h2 {
    font-size: 2em;
}
.breadcrumb-item a{
    color: #007bff;
}
.slick-prev {
    left: 0;
    z-index: 1;
}
.slick-next {
    right: 0;
}
.slick-dots {
    bottom: 0;
}
.slick-list {
    z-index: 0;
}
.pagination > li > a {
    color: #6c757d;
}
#block-bs3-jiubanrukou li a {
    color: #6c757d;
}
.position-absolute {
    position: absolute!important;
}
.w-100 {
    width: 100%!important;
}
.slick-dots li button:before {
    font-size: 10px;
    color: ##676767;
    opacity: unset;
}

.slick-dots li.slick-active button:before {
    color: #0c5988;
    opacity: unset;
}
