{% set root = '/court' %}
<header>
  {{ page.header }}
</header>
  {{ page.breadcrumb }}
<main class="mt-1" id="home">
  <section class="bg-white rounded p-5" id="dangjian">
  {{ page.content6 }}
  </section>
</main>
{{ page.footer }}

<!--
	vim:ft=html
-->
