{%
  set gallery = [
    {src: 'img/180x120.png', cap: '图说法院 2'},
    {src: 'img/180x120.png', cap: '图说法院 2'},
    {src: 'img/180x120.png', cap: '图说法院 2'},
    {src: 'img/180x120.png', cap: '图说法院 2'},
    {src: 'img/180x120.png', cap: '图说法院 2'},
    {src: 'img/180x120.png', cap: '图说法院 2'},
]
%}
<div class="row mt-1">
{% for i in gallery %}
<figure class="figure text-center col mb-0">
<img class="" src="{{ root }}/{{ i.src }}">
{% if haveCaption %}
<figcaption class="figure-caption">{{ i.cap }}</figcaption>
{% endif %}
</figure>
{% endfor %}
</div>
